/* Estilo general de la página */
body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 18px;
    color: #333333;
    background-color: #8ccfff;
    margin: 20;
    padding: 20;
}
html {
    scroll-behavior: smooth;
}
/* Estilo del menú de navegación */
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    border-bottom: 1px solid #C0C0C0;
    padding: 10px;
    transition: background-color 0.5s ease;
}
.navbar a {
    text-decoration: none;
    color: #333333;
}

.navbar a:hover {
    color: #FF0000;
}

/* Estilo del contenido principal */
h1 {
    text-align: center;
    font-size: 32px;
    color: #ff6347;
    margin: 20px;
    text-shadow: 1px 1px #ffd700;
}
p {
    text-align: justify;
    font-size: 18px;
    color: white;
    margin: 20px;
}
div {
    text-align: center;
}
iframe {
    width: 50%; 
    height: 50%; 
}

/* Estilo de la firma y la fecha */
address {
    text-align: right;
    font-size: 14px;
    color: #999999;
    margin: 20px;
}
button {
    background-color: #333333; /* el color de fondo del botón será un gris oscuro */
    color: #FFFFFF; /* el color del texto del botón será blanco */
    font-size: 16px; /* el tamaño de la fuente del botón será 16 píxeles */
    padding: 10px; /* el espacio entre el texto y el borde del botón será 10 píxeles */
    border: none; /* el botón no tendrá borde */
    border-radius: 5px; /* el botón tendrá las esquinas redondeadas con un radio de 5 píxeles */
    cursor: pointer; /* el cursor se cambiará a una mano al pasar sobre el botón */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4500; /* el color de fondo del botón cambiará a rojo al pasar el cursor sobre él */
}
.contenedor {
    display: flex;
    justify-content: space-between; 
}

.texto {
    text-align: right; 
    width: 70%; 
}

.imagen {
    width: 30%auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
}